/* Prevent FOUC (flash of unstyled content) - http://johnpolacek.com/2012/10/03/help-prevent-fouc/ */
.no-fouc {display: none;}

html {
	height: 100%;
	font-size: 62.5%;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

body, div, p, table, img, span, input, h1, h2, h3, h4, h5, h6 {
	box-sizing: border-box;
}

body {
	height: 100%;
	background-color: #E1E1E1;
	color: #333333;
	font: normal 1.1em/1.4 Arial, Helvetica, sans-serif;
	text-align: left;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.utility {
	font-family: "fs-roman", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	background-color: #d0d0ce;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	font-size: 11px;
	position: fixed;
}

.header {
	background-color: #353535;
	color: #1a1a1a;
	cursor: auto;
	display: block;
	font-family: fs-roman, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 68px;
	left: 0px;
	line-height: 24px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 15px;
	padding-left: 11px;
	padding-right: 30px;
	padding-top: 15px;
	top: 0px;
	width: 100%;
	z-index: 100;
	position: fixed;
	transform: translateY(17px);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-property: transform;
}

.headerRow, footerRow {
	max-width: 1400px !important;
	margin: 0 auto;
	width: 100%;
}

.column {
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: left;
}

.logo {
	margin-left: 96px;
}


div.main { background-color: #f5f5f5; }

div.main div {
	font-size: 12px;
	line-height: 18px;
	font-family: "Arial",Arial,sans-serif;
	color: #000;
	font-weight: normal;
}

div.main .content-sub {
	margin: 0;
	padding: 0 0 60px 0;
}

div.main h1 {
	line-height: 1.2em;
	color: #333;
	font-family: "Arial",Arial,sans-serif;
}	


.main {
	min-height: 96vh;
}

div.main div {
	font-size: 12px;
	line-height: 18px;
	font-family: "Arial",Arial,sans-serif;
	color: #000;
	font-weight: normal;
}

div.main .frame {
	width: 1010px;
	background-color: #fff;
	padding: 0px;
	margin: 0 auto;
}
	
div.frame { padding-top: 120px !important; }

div.main p {
	font-size: 12px;
	line-height: 18px;
}

.breadcrumb {
	float: right;
	background-color: white;
	color: #353535 !important;
	font-family: "fs-bold", Arial, sans-serif !important;
	text-transform: uppercase !important;
	cursor: auto;
	display: block;
	font-size: 11.0719995498657px !important;
	font-style: normal;
	height: 16px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 20px;
	padding-top: 0px;
	text-align: right;
}

.breadcrumb a {
    color: #555555 !important;
    cursor: pointer;
    display: inline;
    font-family: fs-roman, Arial, sans-serif !important;
    font-size: 11.0719995498657px !important;
    font-style: normal !important;
    font-weight: normal !important;
    height: auto;
    line-height: 16.6079998016357px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    text-align: right;
    text-decoration: none !important;
    text-transform: uppercase;
}

.content-sub {
    margin: 0;
    padding: 0 0 60px 0;
}

.sidenav {
	width: 110px;
	display: inline;
	margin: 50px 18px 0 0;
	float: left;
}

.maincontent {
	width: 845px;
	float: left;
}

.content-boundaries {
    padding-right: 50px;
}

.content-sub p { margin: 0 0 1.3em; }

.footer {
	background-color: #353535;
	text-align: center;
	line-height: 24px;
	box-sizing: border-box;
	color: #1a1a1a;
	cursor: auto;
	display: block;
	font-family: fs-roman, Arial, sans-seirf;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 38px;
	line-height: 24px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.copyright-wrap {
	width: 50%;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}


.footer-copyright-wrap {
	width: 50%;
}

.copyright {
	color: #ffffff;
	font-family: fs-roman, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	margin: 0.9375rem auto;
	text-transform: uppercase;
	margin: 0 0 0 150px;
	padding: 0.6875rem;
	float: left;
}

*::before, *::after {
    box-sizing: border-box;
}


.clearfix {
	display: block;
}

.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}


.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


a, a:link, a:visited {
	color: #006699;
	text-decoration: none;
	border: none;
}

img {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	border: 0;
}

.sidenav img {
	position: relative;
	top: 25px;
	left: 25px;
}	

em {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


a[href^="mailto"]:hover:after { content: " > " attr(title); }


table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E1E1E1;
}

li {
    float: left;
}

li button {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li button:hover {
    background-color: #CCC;
}